{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="sidebar">
    <h2 align="center"style="color: navy"><b>Deepika's Blog</b></h2>
    <p><b>My name is Deepika Jantz, I am doing my Masters in Management Information Systems(Joined Spring 2017)at the University of Nebraska, Omaha. I work part time at the Rock Climbing gym within our University limits.
    Here in this blog I would like to share some benefits of my venture into Rock Climbing.<b></p>
    <p><b>Do come in and climb at our Gym!</b></p>
    <img src="{% static "images/deepika.jpg" %}" style="width:300px;height:300px;padding-left:70px";>
    <p> I will see you there!</p>
    <p>We are located at - Health, Physical Education and Recreation, Omaha, NE 68132</p>
   <div class="mapouter">
        <div class="gmap_canvas">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.3946025412574!2d-96.01103978423279!3d41.25674337927639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938db990464273%3A0x3ae659b0972e88c9!2sHealth%2C+Physical+Education+and+Recreation%2C+Omaha%2C+NE+68132!5e0!3m2!1sen!2sus!4v1517164294002" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

  </div>

</body>
</html>
