{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="sidebar">
    <h2>Deepika's blog</h2>
    <p>Welcome to my page!</p>
    <p>My name is Deepika Jantz, I am doing my Masters in Management Information Systems(Joined Spring 2017)at the University of Nebraska, Omaha. I work part time at the Rock Climbing gym within our University limits.
    Here in this blog I would like to share some benefits of my venture into Rock Climbing.Do come in and climb at our Gym! I will see you there!</p>
    <br>
    <p>We are located at - Health, Physical Education and Recreation, Omaha, NE 68132</p>


  </div>

</body>
</html>
